<div class="btn-group">
  <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">Select an action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <% if current_user.present? and current_user.admin? %>
        <li>
          <%= link_to raw('<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> Swap Visibility'), generic_file_visibility_path(id),
                      class: "itemicon itemcode", title: "Swap Visibility" %>
        </li>
    <% end %>
    <li>
      <%= link_to raw('<i class="glyphicon glyphicon-tasks" aria-hidden="true"></i> Regenerate Thumbnail'), generic_file_regenerate_path(id),
                  class: "itemicon itemcode", title: "Regenerate Thumbnail" %>
    </li>
    <li>
      <%= link_to raw('<i class="glyphicon glyphicon-link over"></i> Single-Use Link to File'), '#',
                  class: "copypaste itemicon itemcode", title: "Single-Use Link to File", id: "copy_link_#{id}" %>
    </li>
    <li>
      <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i> Edit File'), sufia.edit_generic_file_path(id),
                  class: 'itemicon itemedit', title: 'Edit File' %>
    </li>
    <li>
      <%= link_to raw('<i class="glyphicon glyphicon-download-alt"></i> Download File'), sufia.download_path(id),
                  class: 'itemicon itemdownload', title: 'Download File', target: '_new' %>
    </li>
    <% if current_user %>
      <li>
        <%= display_trophy_link(current_user, id) do |text| %>
          <i class='glyphicon glyphicon-star'></i> <%= text %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
