<h2>Edit <%= @institution.name %></h2>

<%= simple_form_for @institution, :url => institution_path(:id => @institution.pid), :as => :institution, html: { multipart: true, id: 'fileupload', autocomplete: "off" } do |f| %>
    <div class="well" style="width:50em;">
      <span class="sr-only"><%= t("sufia.upload.single_file_computer.sr_instructions") %></span>
      <%= render partial: 'institutions/partials/form', locals: {f: f} %>

      <%= f.input :visibility, as: :single_select, collection: ['public', 'restricted', 'private'],
                  input_html: {
                      include_help: 'Visibility of this institution.',
                      help_label: 'Visibility', include_blank: false
                  }, required: true
      %>

      <%= f.button :submit %>
    </div>
<% end %>
