<h2>Create New Institution</h2>

<%= simple_form_for @institution, :url => institutions_path, :as => :institution, html: { multipart: true, id: 'fileupload', autocomplete: "off" } do |f| %>
    <%= hidden_field_tag "institution[pid]", @institution.pid %>
    <div class="well" style="width:50em;">
    <span class="sr-only"><%= t("sufia.upload.single_file_computer.sr_instructions") %></span>
    <%= render partial: 'institutions/partials/form', locals: {f: f} %>
      <%= f.button :submit %>
  </div>
<% end %>
