<% @page_title = "#{@document[:name_tesim].first} - #{application_name}" %>
<div id="institutions-show">
<% content_for(:head) { render_link_rel_alternates } %>

  <div id="doc_<%= @document.id.to_s.parameterize %>">

    <div id="breadcrumbs-title">
      <ul class="breadcrumb">
        <li class="breadcrumb-back"><%= link_to 'Institutions', institutions_path %></li>
        <li class="breadcrumb-title"><%= @institution.name %></li>
      </ul>
    </div>

    <div class="document">

      <div class="row">



        <div class="col-md-9 col-sm-8 maximize_custom">
          <div id="inst_image">
            <% if @document['has_image_ssi'] == 'true' %>
              <%= image_tag(download_path(@document, file: 'content', institution: 'true'),
                            class: 'institution_img_show',
                            alt: @document['name_tesim']
                  )%>
            <% else %>
              <%= image_tag(institution_icon_path,
                            :alt =>  @document['name_tesim'],
                            :class => 'institution_img_show') %>
            <% end %>
          </div>

          <div id="institution_search_tools" >
            <%= render :partial => 'search_form_institution',
                       :locals => {:document => @document} %>
          </div>


          <div id="inst_info">

            <div id="institution_desc">

              <% if @document[:description_tesim] %>
                <% @document[:description_tesim].each do |abstract| %>
                  <%= abstract.html_safe %><br/><br/>
                <% end %>
              <% end %>

              <% if @document[:institution_url_tesim] %>
                <ul>
                  <li id="institution_site_link">
                    <%= link_to 'Visit institution web site',
                                @document[:institution_url_tesim].first,
                                :class => 'institution_site_link',
                                :target => '_blank' %>
                  </li>
                </ul>
              <% end %>

              <% if current_user.present? and current_user.superuser? %>
                <div class="well" style="width:256px; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
                  <h4>Institution Actions:</h4>
                  <ul>
                    <li><%= link_to "Edit Institution", edit_institution_path(@document[:id]) %></li>
                    <li><%= link_to 'Delete Institution',url_for(action: :destroy, controller: :institutions, id: @document['id']),method: :delete, data: {confirm: "Are you want to delete this institution?"} %></li>
                  </ul>

                </div>
              <% end %>

            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <div id="sidebar" class="col-md-3 col-sm-4 pull-right hidetest">
          <%= render partial: '/catalog/facets', locals: { skip_title: false } %>
        </div>

        <div class="col-md-9 col-sm-8 maximize_custom">



          <% if @collex_documents.length > 0 %>
              <div id="institution_collections">
                <h4>Digital Collections: <span id="collections_count">(<%= @collex_documents.length %>)</span></h4>

                <%= render :partial => 'catalog/document_collections_gallery',
                           :locals => {:documents => @collex_documents} %>

              </div>
          <% end %>

          <% # map for collections#show view %>
          <% unless @response.aggregations[map_facet_field].items.empty? %>
              <div id="blacklight-collection-map-container">
                <h4>Map View:</h4>
                <%= render :partial => 'catalog/index_mapview',
                           :locals => {:geojson_features => serialize_geojson(map_facet_values,
                                                                              'index')} %>
              </div>
              </div>
          <% end %>

        </div>




      </div>

    </div>


</div>


</div>
