<% @page_title = "#{@document[:name_tesim].first} - #{application_name}" %>
<div style="max-width:1400px; margin: 0 auto">
<% content_for(:head) { render_link_rel_alternates } %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %> blacklight-institution">

  <div id="doc_<%= @document.id.to_s.parameterize %>">

    <h2 class="institution-title">
      <%= @institution.name %>
    </h2>

    <div class="document">

      <div class="row">

        <div class="col-sm-9">

          <div id="institution_search_tools" class="well well-sm" >
            <%= render :partial => 'search_form_institution',
                       :locals => {:document => @document} %>
            <span class="institution_search_separator">or</span>
            <div id="institution_view_all">
              <%= link_to_all_inst_items('btn btn-info view-all-inst') %>
            </div>
          </div>

          <% if @document['has_image_ssi'] == 'true' %>
              <%= image_tag(download_path(@document, file: 'content', institution: 'true'),
                             class: 'institution_img_show',
                            alt: @document['name_tesim']
                            )%>
          <% else %>
              <%= image_tag(institution_icon_path,
                            :alt =>  @document['name_tesim'],
                            :class => 'institution_img_show') %>
          <% end %>

          <div id="institution_desc">

            <% if @document[:description_tesim] %>
                <% @document[:description_tesim].each do |abstract| %>
                    <%= abstract.html_safe %><br/><br/>
                <% end %>
            <% end %>

            <% if @document[:institution_url_tesim] %>
                <ul>
                  <li id="institution_site_link">
                    <%= link_to 'Visit institution web site',
                                @document[:institution_url_tesim].first,
                                :class => 'institution_site_link',
                                :target => '_blank' %>
                  </li>
                </ul>
            <% end %>

          </div>

          <% if @collex_documents.length > 0 %>
              <div id="institution_collections">
                <h4>Digital Collections: <span id="collections_count">(<%= @collex_documents.length %>)</span></h4>

                <%= render :partial => 'catalog/document_collections_gallery',
                           :locals => {:documents => @collex_documents} %>

              </div>
          <% end %>

        </div>


        <div id="sidebar" class="col-sm-3">
          <%= render 'search_sidebar' %>
        </div>

      </div>

    </div>

  </div>

</div>


</div>
