<% @page_title = "DTA Starter's Guide -  #{application_name}" %>
<div id="learn-show" class="container-fluid">
  <div class="row">
    <%= render partial: '/partials/section_side_nav' %>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 static_holder_content_container guide_container">
      <p id="static_holder_content" class="static_holder_content">
        <a name="top"></a>
      <h2>DTA Starter's Guide</h2>

      <div class="larger-callout">
        Welcome to the Digital Transgender Archive! This site was created to make transgender history accessible for anyone wishing to learn more. Whether you’re a researcher, student, or just someone curious about trans history, the DTA is for you! If you are unsure how to jump in, you can use this guide to get a few ideas for where to start.
      </div>

      <span class="learn_paragraphs">
      <h3>NEW TO TRANS HISTORY?</h3>
      <p>
        Transgender is an umbrella term used to describe someone who does not identify with the gender assigned to them at birth. Because transgender is a fairly new word–people started using it in the 1960’s–the history of self-identified transgender people is rather short. As a result, we treat transgender as a practice rather than an identity, so we include materials by and about people who trans- gender in some way, not just those who refer to themselves as transgender. Though the project is called the Digital Transgender Archive, the term transgender is more complicated than it seems and visitors should be aware that many people represented in the collection would not use the term themselves. We try to be very careful with the language we use to describe people and we would encourage you to do the same.
        </p>
        <p>
        To learn more about terminology, check out our <a href="https://www.digitaltransgenderarchive.net/learn/glossary">Glossary</a>.<br />

        To learn more about identity and location, visit our <a href="https://www.digitaltransgenderarchive.net/learn/terms">Global Terms</a> page.
      </p>
      </span>

      <table class="table table-zebra-striped learn_table">
        <tbody>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                  <%= image_tag("learn/Learn_Hug.png",
                                :alt =>  "Want to be an ally?",
                                :class => 'media-left hidden-xs learn_section_thumbnail medium_icon_override') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Want to be an ally?
                </h4>
                <p>We need to understand terms to understand trans history, but there are a few other components to being a good ally. Around here, we don’t assume we know anyone’s gender. Instead, we ask pronouns and encourage everyone to do the same. This way, no one will feel they’re being misrepresented. To fully equip yourself with the best tools for being an ally, read <a href="https://www.glaad.org/transgender/allies">these tips</a> from GLAAD, and this <a href="https://www.digitaltransgenderarchive.net/files/n009w234m">speech</a>&nbsp;given by a trans person on her experience with family. Also, check out <a href="https://www.digitaltransgenderarchive.net/files/jq085k039">this pamphlet</a> from Parents, Families and Friends of Lesbians and Gays (PFLAG), covering a range of information for allies.
                </p>

              </div>
            </div>
          </td>

        </tr>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Person_Circle.png",
                              :alt =>  "Want to know more about prominent trans people?",
                              :class => 'media-left hidden-xs learn_section_thumbnail') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Want to know more about prominent trans people?
                </h4>
                <p>You may have heard of Caitlin Jenner and Laverne Cox, but they’re not the first trans people to be media sensations in the U.S. One of the first people in the United States to have gender realignment surgery was a woman named Christine Jorgensen. In 1951, she traveled to Denmark for the series of operations and gained national recognition upon her return to the U.S. She gave transsexual people visibility in a time when few people knew that a person could change their sex. You can find more about Christine Jorgensen <a href="https://www.digitaltransgenderarchive.net/files/k0698763j">here</a> and&nbsp;<a href="https://www.digitaltransgenderarchive.net/files/v118rd67s">here</a>.&nbsp;If you want to learn more about other pioneers, explore these materials on&nbsp;<a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&amp;search_field=all_fields&amp;search_field=all_fields&amp;q=alison+laing">Alison Liang</a>&nbsp;and&nbsp;<a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&amp;search_field=all_fields&amp;search_field=all_fields&amp;q=reed+erickson">Reed Erikson</a>
                </p>

              </div>
            </div>
          </td>
        </tr>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Brush.png",
                              :alt =>  "Interested in art?",
                              :class => 'media-left hidden-xs learn_section_thumbnail medium_icon_override') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Interested in art?
                </h4>
                <p>A great place to start would be with one of our oldest pieces in the DTA, a painting by Giuseppe Bonito entitled “<a href="https://www.digitaltransgenderarchive.net/files/qv33rw75d">Il Femminiello</a>”. It depicts two men, one dressed in women’s clothes and the other dressed in men's clothes. The Femminiello were a social class in Naples. Scholars emphasize that they were not a highly stigmatized group, rather they had special ceremonial and social jobs. You might also take a look a painting called “<a href="https://www.digitaltransgenderarchive.net/files/2801pg41b">Dance to the Berdache</a>”. For more information on “Berdache” (the better term now is&nbsp;Two-Spirit), check out the section below, “Tired of only hearing about trans people in the U.S.?”
                </p>

              </div>
            </div>
          </td>
        </tr>


        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Question.png",
                              :alt =>  "Want to jump into some controversy?",
                              :class => 'media-left hidden-xs learn_section_thumbnail small_icon_override') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Want to jump into some controversy?
                </h4>
                <p>Check out the drama with the <a href="https://www.digitaltransgenderarchive.net/files/b8515n434">Michigan Womyns Music Festival</a>, a feminist music festival held every August from 1976 to 2015. It has been the subject of controversy for years due to its policy that only women who were assigned female at birth should be permitted to attend. In 1991, a trans woman was removed from the festival, which sparked outrage and boycotting. If you want to know exactly what happened, take a look at page 16 of <a href="https://www.digitaltransgenderarchive.net/files/0z708w40c">this issue</a> of Renaissance News. If you want to read a contrasting perspective, you should check out page five of <a href="https://www.digitaltransgenderarchive.net/files/9w0323110">this newsletter</a> by the XX Club.
                </p>

              </div>
            </div>
          </td>
        </tr>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Sign.png",
                              :alt =>  "Interested in intersex activism?",
                              :class => 'media-left hidden-xs learn_section_thumbnail small_icon_override') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Interested in intersex activism?
                </h4>
                <p>Intersex is a general term used to describe people with bodies that don’t fit society’s definitions of male or female. Read through some of the materials in the collection “<a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Hermaphrodites+with+Attitude">Hermaphrodites with Attitude</a>”, a newsletter published by the Intersex Society of North America. The newsletter was a really important place for intersex activists and academics to connect and make their&nbsp;voices heard. Though <em>hermaphrodite</em>&nbsp;is used in the title (they were trying to reclaim it), the term is considered offensive by most people and the word <em>intersex</em> should be used instead.
                </p>

              </div>
            </div>
          </td>
        </tr>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Speaker.png",
                              :alt =>  "Want to get political?",
                              :class => 'media-left hidden-xs learn_section_thumbnail') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Want to get political?
                </h4>
                <p>Plenty of people in LGBTQ+ communities are also activists. Activists have done a great deal to advance queer and trans rights and this work is important for the historical record. Check out this collection of activism <a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Riki+Anne+Wilchins%27+Flyers">fliers</a>, specifically <a href="https://www.digitaltransgenderarchive.net/files/2514nk502">this one</a>. We also have a great&nbsp;collection of <a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Wearing+Gay+History+Online+Materials">shirts</a>, many of which were created by prominent activist groups or for marches.
                </p>

              </div>
            </div>
          </td>
        </tr>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Earth.png",
                              :alt =>  "Tired of only hearing about trans people in the U.S.?",
                              :class => 'media-left hidden-xs learn_section_thumbnail medium_icon_override') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Tired of only hearing about trans people in the U.S.?
                </h4>
                <p>The site also has plenty of materials from all over the world–take a look at <a href="https://www.digitaltransgenderarchive.net/files/0k225b12c">this flyer</a> from Norway and <a href="https://www.digitaltransgenderarchive.net/files/9z902z91r">this article</a> South Africa, for starters.&nbsp;To learn more about different trans-related identities around the world, explore these <a href="https://www.digitaltransgenderarchive.net/learn/terms">Global Terms</a>
                </p>
                <p>
                  Even within the U.S., gender varies by culture. Check out this recent newsletter about a collection related to&nbsp;<a href="https://www.digitaltransgenderarchive.net/files/w3763689t">Two-Spirit</a>&nbsp;people,&nbsp;an umbrella term used by some native North Americans to describe&nbsp;gender-variant people in their communities. Two-Spirit&nbsp;doesn’t adhere to other definitions of sexuality and gender identity–it is typically a sacred, spiritual and ceremonial role that is recognized and confirmed by the elders of an indigenous community.
                </p>

              </div>
            </div>
          </td>
        </tr>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Book.png",
                              :alt =>  "Want to know more about gender and psychology?",
                              :class => 'media-left hidden-xs learn_section_thumbnail medium_icon_override') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Want to know more about gender and psychology?
                </h4>
                <p>Non-conforming gender identities have always had a rocky relationship with the medical community. Throughout history, people expresssing non-traditional genders have been treated like they are sick and often diagnosed with mental illnesses. The <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&amp;search_field=all_fields&amp;q=erickson+educational+foundation">Erickson Educational Foundation</a> describes the psychological evaluation of trans people as “including intensive interviews, and testing, interviews with the patient’s family where possible, and perhaps a course of supportive therapy."&nbsp;To see more about how transsexuals were “managed” in the past, check out <a href="https://www.digitaltransgenderarchive.net/files/rf55z7802">this pamphlet</a>. For a bit of an update, take a look at <a href="https://www.digitaltransgenderarchive.net/files/736664496">this article</a>,&nbsp;and for the current state of gender in psychology take a look at <a href="https://www.psychiatry.org/patients-families/gender-dysphoria/what-is-gender-dysphoria">this page</a>.
                </p>

              </div>
            </div>
          </td>
        </tr>

        <tr class="<%= cycle("zebra", "") %>">
          <td>
            <div class="media">
              <div class="media-left">
                <%= image_tag("learn/Learn_Lips.png",
                              :alt =>  "Interested in Drag?",
                              :class => 'media-left hidden-xs learn_section_thumbnail medium_icon_override') %>
              </div>
              <div class="media-body">
                <h4 class="guide-heading">
                  Interested in Drag?
                </h4>
                <p>Drag is a form of crossdressing for art and performance that has been performed for centuries. Drag often involves&nbsp;over-the-top performances of gender. Though many people consider it a part of their identity, drag isn’t necessarily something that's tied to gender identity or sexuality–some people just enjoy wearing fun clothes and playing with gender.&nbsp;Check out&nbsp;<a href="https://www.digitaltransgenderarchive.net/col/6682x401g">Drag Magazine</a> to see some.
                </p>

              </div>
            </div>
          </td>
        </tr>

        </tbody>
      </table>

      <%= render partial: "partials/back_to_top" %>

    </div>

  </div>
</div>
