<div class="show_actions">
  <h4>Item Actions</h4>
  <dl class="dl-horizontal content">
    <% if @generic_file.hosted_elsewhere == "1" %>
        <dt>View At</dt>
        <dd>
          <%= link_to truncate(@generic_file.is_shown_at, {:length=>100}), @generic_file.is_shown_at %>
        </dd>
    <% else %>
        <dt>Download</dt>
      <% total_images = @generic_file.base_files.size %>
      <% @generic_file.base_files.each_with_index do |_, index| %>
        <dd>
          <% if @generic_file.image? %>
            <% link_title = "Image File"
               link_title +=  " " + (index+1).to_s if total_images > 1 %>
          <% elsif @generic_file.pdf? %>
            <% link_title = "PDF File"
               link_title += " " + (index+1).to_s if total_images > 1 %>
          <% else %>
            <% link_title = "File"
               link_title += " " + (index+1).to_s if total_images > 1 %>
          <% end %>
          <%= link_to "#{link_title}", download_path(@generic_file.pid, index: index), download: @generic_file.download_name %>
        </dd>
      <% end %>
    <% end %>


    <dt>Share</dt>
    <dd>
      <span class="addthis_inline_share_toolbox" style="margin: 0; padding: 0; vertical-align: top;"></span>
      <%= javascript_include_tag "https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a85824a7458fe6d" %>
    </dd>

    <dt>Citation</dt>
    <dd>
      <%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-list-alt') + ' ' + t('blacklight.tools.citation'),
                  citation_solr_document_path(:id => @document),
                  {:id => 'citeLink', :data => {:ajax_modal => 'trigger'}} %>
    </dd>
    
    <%# if can? :edit, @generic_file %>
    <% if current_or_guest_user.contributor? %>
        <dt>Edit</dt>
        <dd>
          <% if @generic_file.processing? %>
              <%= t('sufia.upload.processing') %>
          <% else %>
              <%= link_to "Edit Object", edit_generic_object_path(@generic_file.pid) %>
          <% end %>
        </dd>
    <% end %>

    <% if current_or_guest_user.contributor? %>
        <dt>Delete</dt>
        <dd>
          <%= link_to 'Delete',url_for(action: :destroy, controller: :generic_objects, id: @document['id']),method: :delete, data: {confirm: "Are you want to delete this object?"} %>
        </dd>
    <% end %>

    <% if current_or_guest_user.contributor? %>
        <dt>Change Visibility</dt>
        <dd>
          <% if @generic_file.visibility == 'public' %>
              <%= link_to "Make Private", swap_visibility_generic_object_path(@generic_file.pid) %>
          <% else %>
              <%= link_to "Make Public", swap_visibility_generic_object_path(@generic_file.pid) %>
          <% end %>
        </dd>
    <% end %>

    <% if current_or_guest_user.contributor? %>
      <dt>Regenerate Thumbnail</dt>
      <dd>
          <%= link_to "Regenerate", regenerate_thumbnail_generic_object_path(@generic_file.pid) %>
      </dd>
    <% end %>

    <% if current_or_guest_user.admin? %>
      <dt>Collection Thumbnail</dt>
      <dd>
        <%= link_to "Make Collection Thumbnail", make_coll_image_generic_object_path(@generic_file.pid) %>
      </dd>
    <% end %>


    <% if 1==0 and current_user.present? and current_user.admin? %>
        <dt>Analytics</dt>
        <dd>
          <%= link_to "View Analytics", stats_generic_object_path(@generic_file.pid), id: 'stats' %>
        </dd>
    <% end %>
  </dl>
  </h2>
</div>




