<div class="well" style="max-width:400px; margin-top:20px;">
  <h2 style="margin-top:-15px;">Item Actions</h2>
  <dl class="dl-horizontal file-show-term" style="margin-bottom:-19px;">
    <% if @generic_file.hosted_elsewhere == "1" %>
        <dt style="padding-left:0px;width:80px;">View At</dt>
        <dd style="padding-left:0px;margin-left: 100px;">
          <%= link_to truncate(@generic_file.is_shown_at, {:length=>100}), @generic_file.is_shown_at %>
        </dd>
    <% else %>
        <dt style="padding-left:0px;width:80px;">Download</dt>
        <dd style="padding-left:0px;margin-left: 100px;">
          <% if @generic_file.image? %>
              <%= link_to "Image File", download_path(@generic_file.pid), download: @generic_file.download_name %>
          <% elsif @generic_file.pdf? %>
              <%= link_to "PDF File", download_path(@generic_file.pid), download: @generic_file.download_name %>
          <% else %>
              <%= link_to "File", download_path(@generic_file.pid), download: @generic_file.download_name %>
          <% end %>
        </dd>
    <% end %>


    <dt style="padding-left:0px;width:80px;">Share</dt>
    <dd style="padding-left:0px;margin-left: 100px;">
      <span class="addthis_inline_share_toolbox" style="margin: 0; padding: 0; vertical-align: top;"></span>
      <%= javascript_include_tag "https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a85824a7458fe6d" %>
    </dd>

    <dt style="padding-left:0px;width:80px;">Citation</dt>
    <dd style="padding-left:0px;margin-left: 100px;">
      <%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-list-alt') + ' ' + t('blacklight.tools.citation'),
                  citation_solr_document_path(:id => @document),
                  {:id => 'citeLink', :data => {:ajax_modal => 'trigger'}} %>
    </dd>



    <%# if can? :edit, @generic_file %>
    <% if current_or_guest_user.contributor? %>
        <dt style="padding-left:0px;width:80px;">Edit</dt>
        <dd style="padding-left:0px;margin-left: 100px;">
          <% if @generic_file.processing? %>
              <%= t('sufia.upload.processing') %>
          <% else %>
              <%= link_to "Edit Object", sufia.edit_generic_file_path(@generic_file) %>
          <% end %>
        </dd>
    <% end %>

    <% if current_user.present? and current_user.admin? and Sufia.config.analytics %>
        <dt style="padding-left:0px;width:80px;">Analytics</dt>
        <dd style="padding-left:0px;margin-left: 100px;">
          <%= link_to "View Analytics", sufia.stats_generic_file_path(@generic_file), id: 'stats' %>
        </dd>
    <% end %>
  </dl>
  </h2>
</div>




