<% if @document[:flagged_tesim] && @document[:flagged_tesim].first != "No explicit content"%>
<%= render :partial => 'catalog/_show_partials/show_flagged_notice' %>
<% end %>

<% @page_title = "#{@document[:title_tesim].first} -  #{application_name}" %>

<%#= javascript_include_tag 'https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ff1d986721ebb24' %>

<%= javascript_tag do %>
    var addthis_config = {"data_track_addressbar":false};
<% end %>
<div id="obj_show">
<% if @previous_document || @next_document || current_search_session %>
    <div id='previousNextDocument' class='show-breadcrumb-navigation'>
      <ul class="breadcrumb">
        <li class="large_back"><%= link_back_to_catalog label: 'Back to search results' %></li>
        <li class="small_back hidden"><%= link_back_to_catalog label: 'Back' %></li>
      </ul>
      <%# end %>
      <% if @previous_document || @next_document %>
          <div class="page_links pull-right">
            <%= link_to_previous_document @previous_document %> |

            <%= item_page_entry_info %> |

            <%= link_to_next_document @next_document %>
          </div>
      <% end %>
    </div>
<% end %>

  <div class="container-fluid" id="document">
    <div id="show_row">
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 col-xl-8">
        <div id="show_left">
        <div class="center-block text-center">
          <h2><%= display_multiple @generic_file.title %></h2>
          <% if @document[:alternative_tesim] %>
            <% @document[:alternative_tesim].each_with_index do |alternative_title, index| %>
              <h3 class="alt_titles"><%= alternative_title %></h3><% if 1==0 && index < (@document[:alternative_tesim].size-1) %><br /><% end %>
            <% end %>
          <% end %>
          <%= render 'generic_objects/media_display_public' %>
        </div>
          <p><%= display_multiple(@generic_file.descriptions).html_safe %></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-4">
        <div class="center-block" id="show_right">
          <%= render 'generic_objects/show_actions_dta' %>

          <% if @document['subject_geographic_hier_ssim'] %>

            <!-- can div to adjust size... -->
            <div class="show_leaflet">
              <%= render partial: 'catalog/show_maplet_default' %>
            </div>

            </div>
          <%end%>
        </div>

      </div>

    <div style="clear: both"></div>

    <div id="item_information_banner">
      <h2>Item Information:</h2>
    </div>

    <%= render 'show_descriptions' %>

        <!--    <div style="margin-left:15px;" class="well">
              <strong>Download: </strong> PDF File
            </div>-->


  </div>

</div><!-- /.container-fluid -->





<% if @previous_document || @next_document || current_search_session %>
    <div id='previousNextDocumentBot' class='show-breadcrumb-navigation'>
      <ul class="breadcrumb">
        <li class="large_back"><%= link_back_to_catalog label: 'Back to search results' %></li>
        <li class="small_back hidden"><%= link_back_to_catalog label: 'Back' %></li>
      </ul>
      <%# end %>
      <% if @previous_document || @next_document %>
          <div class="page_links pull-right">
            <%= link_to_previous_document @previous_document %> |

            <%= item_page_entry_info %> |

            <%= link_to_next_document @next_document %>
          </div>
      <% end %>
    </div>
<% end %>

</div>
<%= render :partial => '/dta_seadragon', :locals=> {:object_title=> @generic_file.title, :iiif_id=>@generic_file.iiif_id} %>

<div id="related_items_mlt">
  <h2>Related Items</h2>
  <div class="related_items">
    <div class="item item0">
      <%= render_thumbnail_tag @mlt_document_list[0] %> <br/>
      <%= link_to_document @mlt_document_list[0], @mlt_document_list[0]["title_ssim"][0] %>
    </div>

    <div class="item item1">
      <%= render_thumbnail_tag @mlt_document_list[1] %> <br/>
      <%= link_to_document @mlt_document_list[1], @mlt_document_list[1]["title_ssim"][0] %>
    </div>

    <div class="item item2">
      <%= render_thumbnail_tag @mlt_document_list[2] %> <br/>
      <%= link_to_document @mlt_document_list[2], @mlt_document_list[2]["title_ssim"][0] %>
    </div>


    <div class="item item3">
      <%= render_thumbnail_tag @mlt_document_list[3] %> <br/>
      <%= link_to_document @mlt_document_list[3], @mlt_document_list[3]["title_ssim"][0] %>
    </div>

    <div class="item item4">
      <%= render_thumbnail_tag @mlt_document_list[4] %> <br/>
      <%= link_to_document @mlt_document_list[4], @mlt_document_list[4]["title_ssim"][0] %>
    </div>

    <div class="item item5">
      <%= render_thumbnail_tag @mlt_document_list[5] %> <br/>
      <%= link_to_document @mlt_document_list[5], @mlt_document_list[5]["title_ssim"][0] %>
    </div>



  </div>

  <%# @mlt_document_list.first.to_yaml %>
</div>
