<table class="table">
  <% if current_user.present? and current_user.contributor? %>
      <tr>
        <th><span class="attribute-label h4">Visibility:</span></th>
        <td>
          <% if work[:visibility_ssi] == 'public' %>
              <span style="color:green"><%= work[:visibility_ssi].capitalize %></span>
          <% else %>
              <span style="color:red"><%= work[:visibility_ssi].capitalize %></span>
          <% end %>
        </td>
      </tr>
  <% end %>
  <tr>
    <th width="100"><span class="attribute-label h4">Collection:</span></th>
    <td><%= work[:collection_name_ssim].first if work[:collection_name_ssim].present? %></td>
  </tr>
  <tr>
    <th><span class="attribute-label h4">Institution:</span></th>
    <td><%= work[:institution_name_ssim].first if work[:institution_name_ssim].present?%></td>
  </tr>

  <tr>
    <th><span class="attribute-label h4">Creator:</span></th>
    <td><%= work.creator %></td>
  </tr>

  <% if work[:date_created_display_ssim] %>
      <tr>
        <th><span class="attribute-label h4">Date:</span></th>
        <td><%= work[:date_created_display_ssim].first %></th>
      </tr>
  <% elsif work[:date_issued_display_ssim] %>
      <tr>
        <th><span class="attribute-label h4">Date:</span></th>
        <td><%= work[:date_issued_display_ssim].first %></th>
      </tr>
  <% else %>
      <tr>
        <th><span class="attribute-label h4">Date:</span></th>
        <td>Unknown</th>
      </tr>
  <% end %>

  <tr>
    <th><span class="attribute-label h4">Topics:</span></th>
    <td>
      <% if work[:dta_all_subject_ssim] %>
        <%= work[:dta_all_subject_ssim].sort_by{|word| word.downcase}.join(', ') %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  </tr>

  <% if work[:dta_other_subject_ssim] %>
  <tr>
    <th><span class="attribute-label h4">People:</span></th>
    <td>
          <%= work[:dta_other_subject_ssim].sort_by{|word| word.downcase}.join(', ') %>
    </td>
  </tr>
  <% end %>

  <% if work[:description_tesim] %>
  <tr>
    <th><span class="attribute-label h4">Description:</span></th>
    <td>
          <%= truncate(work[:description_tesim].first, {:length=>200}) %>
    </td>
  </tr>
  <% end %>

</table>
