<nav class="navbar navbar-right">
  <div class="container-fluid">
    <div id="homeBrowseNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">BROWSE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'By Map', '/places' %></li>
            <li class="divider"></li>
            <li><%= link_to 'By Institution', institutions_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'By Collection', collections_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'By Topic', topic_facet_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'By Genre', genre_facet_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'By Latest Added', '/catalog?utf8=%E2%9C%93&sort=date_uploaded_dtsi+desc&search_field=all_fields&q=' %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">LEARN <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @learn_section_links ||= []
               counter = @learn_section_links.length
               @learn_section_links.each do |learn_section|
                 counter -= 1
%>
              <li><%= link_to learn_section.title, learn_path(learn_section) %></li>
              <% if counter > 0 %>
                <li class="divider"></li>
              <% end %>
            <% end %>
            <% if current_user.present? and current_user.superuser? %>
              <li class="divider"></li>
              <li><%= link_to 'Add Learn Section', new_learn_path %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">ABOUT <span class="caret"></span></a><!--- hideonsmall -->
          <ul class="dropdown-menu">
            <% @about_section_links ||= []
               counter = @about_section_links.length
               @about_section_links.each do |about_section|
                 counter -= 1
             %>
                <li><%= link_to about_section.title, about_path(about_section) %></li>
                <% if counter > 0 %>
                  <li class="divider"></li>
                <% end %>
              <% end %>
              <% if current_user.present? and current_user.superuser? %>
                <li class="divider"></li>
                <li><%= link_to 'Add About Section', new_about_path %></li>
              <% end %>
          </ul>
        </li>
        <li><%= link_to 'CONTACT', contact_path %></li>
        <% if 1==0 && current_user.blank? %>
          <li>
            <%= button_to(new_user_session_path, class: "btn btn-warning", id: "login_btn") do %>
              Login
            <% end %></li>
        <% elsif current_user.present? && current_user.contributor? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">ADMIN <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Upload', new_generic_object_path, :class=>"nav_button" %></li>
              <li class="divider"></li>
              <li><%= link_to 'Bookmarks', bookmarks_path, :class=>"nav_button" %></li>
              <% if current_user.superuser? %>
                <li class="divider"></li>
                <li><%= link_to 'Inst Create', new_institution_path, :class=>"nav_button" %></li>
                <li class="divider"></li>
                <li><%= link_to 'Coll Create', new_collection_path, :class=>"nav_button" %></li>
                <li class="divider"></li>
                <li><%= link_to 'Roles', role_management.roles_path, :class=>"nav_button" %></li>
                <li class="divider"></li>
                <li><%= link_to 'Jobs', '/sidekiq', :class=>"nav_button" %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, :class=>"nav_button" %></li>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
