<div id="sidebar" class="col-md-3 col-sm-3">
  <div class="side_nav_custom">
    <h4>Browse By</h4>

    <ul class="content">
      <li class="active"><%= link_to 'By Map', '/places' %></li>
      <li><%= link_to 'By Institution', institutions_path %></li>
      <li><%= link_to 'By Collection', collections_path %></li>
      <li><%= link_to 'By Topic', topic_facet_path %></li>
      <li><%= link_to 'By Genre', genre_facet_path %></li>
      <li><%= link_to 'By Latest', '/catalog?utf8=%E2%9C%93&sort=date_uploaded_dtsi+desc&search_field=all_fields&q=' %></li>
    </ul>
  </div>
</div>

<div id="content" class="col-md-9 col-sm-9 map-content">
  <h3>Map</h3>
  <%= render 'search_results' %>
</div>

<%# have to put this at the end so it overrides 'catalog/search_results' %>
<% @page_title = t('blacklight.maps.title', :application_name => application_name) %>
