<% @page_title = "DTA Race & Ethnicity -  #{application_name}" %>
<div id="learn-show" class="container-fluid">
  <div class="row">
    <%= render partial: '/partials/section_side_nav' %>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 static_holder_content_container guide_container">
      <p id="static_holder_content" class="static_holder_content">
        <a name="top"></a>
      <h2>Race & Ethnicity Research Guide</h2>

      <table class="table learn_table">
        <tbody>
        <tr>
          <td>
            <div class="media">
              <div class="media-left fix-for-smartphone">
                <%= image_tag("learn/Learn_Person1.png",
                              :alt =>  "Picture of a person",
                              :class => 'media-left learn_section_thumbnail large_icon_override') %>
              </div>
              <p class="media-body">
                This page highlights themes of race and ethnicity in the Digital Transgender Archive. Because transgender history is dominated by the experiences of white trans people, we call particular attention to the intersection of trans experiences with race and ethnic identities. Historical materials related to non-white people who transgress gender norms are often harder to find because such materials are less likely to have been created, preserved, or archived. When they are archived, related search terms often may not have been added to descriptions of those materials, essentially making them hidden. This page is an effort to begin to address that problem by showcasing a wider range of trans-related experiences that can be found throughout history.
              </p>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="media">
              <div class="media-body learn_paragraphs raceandethnicity_override">
                <h4 class="guide-heading">
                  How we address race and ethnicity in the DTA
                </h4>
                <p>
                  It can be difficult to know a person's racial or ethnic identity, particularly when we have such limited remnants of their lives. Because racial and ethnic identities are not simply determined by a person's skin tone or appearance, we cannot make assumptions about individuals' identities when we are interpreting materials. Yet when we add materials to our site, we are challenged by how to best describe each item without mislabeling the people involved. Our <a href="https://www.digitaltransgenderarchive.net/about/policies">Describing Objects</a> policy states that when racial or ethnic identities are not explicitly mentioned in the object, we do not add race or ethnicity identity-based subject terms. In doing so, our aim is avoid misrepresenting anyone. Unfortunately, this also means that materials that feature people of color and materials that relate to racial and ethnic experiences may not always be clearly described as such. Even as we try to discuss this topic here, we alternate between using "people of color" (commonly used in the U.S.) and "non-white" (more often used globally) without any fully satisfying options.
                </p>

              </div>
              <div class="media-right media-hide-xs">
                <%= image_tag("learn/Learn_Person2.png",
                              :alt =>  "Picture of a person",
                              :class => 'media-right learn_section_thumbnail right_medium_icon_override') %>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="media">
              <div class="media-body learn_paragraphs raceandethnicity_override">
                <h4 class="guide-heading">
                  A few U.S.-based trans people of color to read more about on this site
                </h4>
                <p>
                  Trans people of color have been influential in U.S. LGBT rights movements throughout the twentieth century. This legacy is becoming more widely known thanks to the increased media coverage of Marsha P. Johnson and Sylvia Rivera, two pioneering trans women of color who were prominent activists based in New York City. There are also many others in the U.S. who have fought for political and social reforms related to trans experiences. For starters, you can read more about:
                </p>
              </div>
            </div>

            <div class="bubble_button_section">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?_=1512505788128&f%5Bdta_other_subject_ssim%5D%5B%5D=Dawn+Wilson&q=Dawn+Wilson&search_field=all_fields" class="btn btn-primary btn-round">
                    Dawn Wilson
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?_=1512505472871&f%5Bdta_other_subject_ssim%5D%5B%5D=Marisa+Richmond&q=Marisa+Richmond&search_field=all_fields" class="btn btn-primary btn-round">
                    Marisa Richmond
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&search_field=all_fields&q=Lorena+Borjas" class="btn btn-primary btn-round">
                    Lorena Borjas
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/files/1j92g770w" class="btn btn-primary btn-round">
                    Pauline Park
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/files/7d278t092" class="btn btn-primary btn-round">
                    Phillipe Cunningham
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/files/5h73pw28v" class="btn btn-primary btn-round">
                    Dee Dee Chamblee
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?q=Jos%C3%A9+Sarria+&search_field=all_fields" class="btn btn-primary btn-round">
                    Jose Sarria
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/files/bv73c073m" class="btn btn-primary btn-round">
                    Cayenne Doroshow
                  </a>
                </div>
              </div>

            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="media">
              <div class="media-body learn_paragraphs raceandethnicity_override">
                <h4 class="guide-heading">
                  A few collections related to non-white trans people to explore on this site
                </h4>
                <p>The <a href="https://www.digitaltransgenderarchive.net/inst/8w32r572q">Latino GLBT History Project</a>&nbsp;aims to conserve and educate people of the cultural heritage, contributions, and accomplishments of the Washington D.C.-area Latino GLBT community. The DTA features the<a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Jos%C3%A9+Gutierrez+Collection"> José Gutierrez Collection</a> contributed by the Latino GLBT History Project. This collection consists of eight photographs that showcase drag pageants in the Latino community.</p>
                <p>Rudy Cardona and Victor Lopez are the co-creators of a number of pageants: Miss Corpus Christi America, Miss Corpus Christi Metroplex, Miss Nueces County, Miss Texas Riviera, and Mr. Corpus Christi. These pageants were produced by the Texas Crown Productions, which Rudy Cardona was also the owner of. The <a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Victor+Lopez+and+Rudy+Cardona+Photograph+Collection">Victor Lopez and </a><a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Victor+Lopez+and+Rudy+Cardona+Photograph+Collection">Rudy Cardona Photograph Collection</a> consist of photographs from the pageants, as well as the Houston Baile of 1994 and the Houston Pride parades of 1992-1994.</p>
                <p>Oral histories are a form of collecting spoken history through the stories of individuals. Our&nbsp;<a href="https://www.digitaltransgenderarchive.net/col/2b88qc34d">Oral Histories with People of Color</a>&nbsp;collection&nbsp;highlights histories and experiences that are underrepresented on our site. You can listen to the stories of many individuals who disucss childhood and transition experiences and the violence and discrimination that many trans people face. Most of these oral histories are in English while some are in Spanish. These oral histories, which are easily accessible for a variety of audiences, are a way of preserving history and experiences that are not often captured in other types of historical records.</p>
                <p>The <a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=International+Conference+on+Transgender+Law+and+Employment+Policy%3A+Annual+Proceedings+and+Newsletters">International Conference on Transgender Law and Employment Policy</a>&nbsp;was an annual conference created by Phyllis Randolph Frye and&nbsp;hosted in Houston, Texas between 1992-1997. This collection contains over 100 objects, such as presentation transcripts&nbsp;and reports, which advocate for changes in policies, such as employment discrimination.</p>
              </div>
            </div>

            <div class="bubble_button_section">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/inst/8w32r572q">
                  <%= image_tag("learn/Learn_Person3.png",
                                :alt =>  "Picture of a person",
                                :class => 'media-right learn_section_thumbnail bubble_small_icon_override') %>
                  </a>
                  <h5 class="icon_subheader"><a href="https://www.digitaltransgenderarchive.net/inst/8w32r572q">Latino GLBT History Project</a></h5>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Jos%C3%A9+Gutierrez+Collection">
                  <%= image_tag("learn/Learn_Person4.png",
                                :alt =>  "Picture of a person",
                                :class => 'media-right learn_section_thumbnail bubble_small_icon_override') %>
                  </a>
                  <h5 class="icon_subheader"><a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Jos%C3%A9+Gutierrez+Collection">José Gutierrez Collection</a></h5>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Victor+Lopez+and+Rudy+Cardona+Photograph+Collection">
                  <%= image_tag("learn/Learn_Person6.png",
                                :alt =>  "Picture of a person",
                                :class => 'media-right learn_section_thumbnail bubble_small_icon_override') %>
                  </a>
                  <h5 class="icon_subheader"><a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=Victor+Lopez+and+Rudy+Cardona+Photograph+Collection">Victor Lopez and Rudy Cardona Photograph Collection</a></h5>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/col/2b88qc34d">
                  <%= image_tag("learn/Learn_Person7.png",
                                :alt =>  "Picture of a person",
                                :class => 'media-right learn_section_thumbnail bubble_small_icon_override') %>
                  </a>
                  <h5 class="icon_subheader"><a href="https://www.digitaltransgenderarchive.net/col/2b88qc34d">Oral Histories with People of Color</a></h5>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=International+Conference+on+Transgender+Law+and+Employment+Policy%3A+Annual+Proceedings+and+Newsletters">
                  <%= image_tag("learn/Learn_Person8.png",
                                :alt =>  "Picture of a person",
                                :class => 'media-right learn_section_thumbnail bubble_small_icon_override') %>
                  </a>
                  <h5 class="icon_subheader"><a href="https://www.digitaltransgenderarchive.net/catalog?f%5Bcollection_name_ssim%5D%5B%5D=International+Conference+on+Transgender+Law+and+Employment+Policy%3A+Annual+Proceedings+and+Newsletters">International Conference on Transgender Law and Employment Policy</a></h5>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="media">
              <div class="media-body margin-left: 15px;">
                <h4 class="guide-heading">
                  Keywords to Begin Your Search
                </h4>
                <p>
                  Below is a list of a few search terms that will help you browse for materials that relate to various racial and ethnic identities. In order to get the most accurate search results, some of the terms should be entered into the search bar in quotation marks, as shown below.
                </p>
              </div>
            </div>

            <div class="bubble_button_section">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22african+american%22" class="btn btn-primary btn-round">
                    "african american"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22African+American+authors%22" class="btn btn-primary btn-round">
                    "African American authors"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22African+American+gays%22" class="btn btn-primary btn-round">
                    "African American gays"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22African+American+lesbians%22" class="btn btn-primary btn-round">
                    "African American lesbians"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22Asian+American+gays%22" class="btn btn-primary btn-round">
                    "Asian American gays"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?q=%22Asian+American%22&search_field=all_fields" class="btn btn-primary btn-round">
                    "Asian American"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22black+people%22" class="btn btn-primary btn-round">
                    "black people"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22racial+discrimination%22" class="btn btn-primary btn-round">
                    "racial discrimination"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22Hispanic+American+gay%22" class="btn btn-primary btn-round">
                    "Hispanic American gay"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=hispanic" class="btn btn-primary btn-round">
                    ​hispanic
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=Latino" class="btn btn-primary btn-round">
                    Latino
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=Latinos" class="btn btn-primary btn-round">
                    Latinos
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22Pacific+Islander+American+gays%22" class="btn btn-primary btn-round">
                    "Pacific Islander American gays"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22people of color%22" class="btn btn-primary btn-round">
                    "people of color"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=Race" class="btn btn-primary btn-round">
                    Race
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22race relations%22" class="btn btn-primary btn-round">
                    "race relations"
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2 bubble_button_wrapper">
                <div class="btn_wrapper">
                  <a href="https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=%22non-White%22" class="btn btn-primary btn-round">
                    "non-White"
                  </a>
                </div>
              </div>

            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="media">
              <div class="media-body margin-left: 15px;">
                <h4 class="guide-heading">
                  What Isn't Yet on this Site
                </h4>
                <p>
                  Our materials are primarily about people from the U.S. and Canada, though we are actively working to develop new collaborations throughout the world in order to widen our scope. We have created a <a href="https://www.digitaltransgenderarchive.net/learn/terms">Global Terms</a> page to lists trans-related terms that are used in different parts of the world, though most of those terms are not yet used in our collection. However, you might use the Global Terms page as a starting point for additional research (and please let us know if you find anything we might include!).
                </p>

              </div>
            </div>
          </td>
        </tr>

        </tbody>
      </table>

      <%= render partial: "partials/back_to_top" %>

    </div>

  </div>
</div>