<script type="text/javascript">
  $(document).ready(function(){
    //alert($('#filedata').attr('required'));
    if($('#generic_file_hosted_elsewhere').is(':checked')){
      $("#hosted_elsewhere").show();
    } else {
      $("#hosted_elsewhere").hide();
    }

    $('#generic_file_hosted_elsewhere').click(function(){
      if($(this).is(':checked')){
        $("#hosted_elsewhere").show();
      } else {
        $("#hosted_elsewhere").hide();
      }

    });
  });
</script>

<%= simple_form_for @generic_object, html: { multipart: true, id: 'fileuploadsingle' } do |f| %>
     <%= hidden_field_tag 'upload_type', 'single' %>
     <%= hidden_field_tag "file_coming_from", "local" %>
     <%= hidden_field_tag "visibility", "private" %>
    <div class="well">
      <%= render partial: 'generic_files/upload/to_collection' %>


      <p>Select a file to upload: <%= file_field_tag "filedata" %></p>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.input_field :hosted_elsewhere, as: :boolean %> This item is hosted elsewhere.
        </div>
      </div>

      <div class="tab-content">
        <div class="tab-pane" id="hosted_elsewhere" aria-labelledby="hosted_elsewhere_tab" role="tabpanel">
          <%= f.input :is_shown_at %>
        </div>
      </div>

      <div class="form-group">
        <div style="float:left">
          <%= render partial: 'partials/label_with_help',
                     locals: {f: f,
                              label_val: 'Title',
                              include_help: t("sufia.simple_form.metadata_help.generic_file.title")} %>
        </div>
        <div style="float:right;">
          <%= f.input :title, required: true %>
        </div>
      </div>

      <%= f.input :alt_titles, as: :multi_base,
                  input_html: { include_help: t("sufia.simple_form.metadata_help.generic_file.alternative"),
                                help_label: 'Alternative Title',
                                label: 'Alternative Title'},
                  required: false
      %>

      <%= f.input :creators, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: creators_autocomplete_path,
                                include_help: t("sufia.simple_form.metadata_help.generic_file.creator"),
                                help_label: 'Creator',
                                label: 'Creator',
                                placeholder: ''}
      %>

      <%= f.input :contributors, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: contributors_autocomplete_path,
                                include_help: t("sufia.simple_form.metadata_help.generic_file.contributor"),
                                help_label: 'Contributor',
                                label: 'Contributor',
                                placeholder: ''}
      %>

      <%= f.input :date_created, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: dates_autocomplete_path,
                                include_help: t("sufia.simple_form.metadata_help.generic_file.date_created"),
                                help_label: 'Date Created',
                                label: 'Date Created',
                                placeholder: 'Enter a EDTF style date'}
      %>

      <%= f.input :date_issued, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: dates_autocomplete_path,
                                include_help: t("sufia.simple_form.metadata_help.generic_file.date_issued"),
                                help_label: 'Date Issued',
                                label: 'Date Issued',
                                placeholder: 'Enter a EDTF style date'}
      %>

      <%= f.input :temporal_coverage, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: dates_autocomplete_path,
                                include_help: t("sufia.simple_form.metadata_help.generic_file.temporal_coverage"),
                                help_label: 'Temporal Coverage',
                                label: 'Temporal Coverage',
                                placeholder: 'Enter a EDTF style date'}
      %>

    </div>

     <div>
       <%= button_tag class: 'btn btn-primary btn-lg', id: "upload_submit", name: "update_descriptions", data: { disable_with: "Please wait..." } do %>
           <i class="glyphicon glyphicon-floppy-disk"></i> Save Item
       <% end %>
     </div>
<% end %>
