<% @page_title = "Contact Us -  #{application_name}" %>
<div id="static_holder" class="container-fluid contact-us">
  <div class="row">
    <%= render partial: '/partials/section_side_nav' %>
    <div class="col-xs-12 col-sm-9 col-lg-9 col-md-9 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2>Contact Us</h2>

        <p>Thank you for your interest in the Digital Transgender Archive! If you have suggestions or questions about the project, please use this form to contact us.</p>

        <p>If you would like to get involved, here are a few options:</p>

        <h3>Donate Materials</h3>
        <p>Materials on this site are provided by a range of institutions, from small non-profit organizations to large universities. If your organization is interested in partnering with the DTA to present information on your holdings or to provide access to digital materials, please contact us.</p>
        <p>We also welcome individuals to donate privately-owned materials to the project. Please reach out to discuss whether we can include your materials on the site and, if you want to permanently donate your items, we can work with you to find a physical archives that would be a good fit.</p>

        <h3>Volunteer and Internship Opportunities</h3>
        <p>If you have brief suggestions for the site, ideas for future projects, or proposals for possible contributors, please feel free to email us at any time. If you are a Northeastern University student interested in volunteering on a regular basis or, if you are interested in a more formal internship or co-op, please email us to begin a conversation about joining our team. Unfortunately, we are not able to support volunteers or interns from outside of NU at this time.</p>

        <h3>Join our Mailing List</h3>
        <p>Joining our email list is a great way to stay in touch. Our periodic emails will provide project updates, links to news stories, and other important information.</p>

          <h3>Spread the Word</h3>
        <p>Spread the word about the DTA through our social media outlets and by linking to our site!</p>
        <ul class="list-unstyled list-inline">
          <li><a href="https://www.instagram.com/digitaltransarc/" target="_blank" title="Click to visit our instagram page!"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/digitaltransarc/" target="_blank" title="Click to visit our Facebook page!"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/digitaltransarc" target="_blank" title="Click to visit our unforgettable Twitter feed!"><i class="fa fa-twitter"></i></a></li>
        </ul>

        <h2 id="email_subheader">Email Us</h2>
        <% unless @errors.empty? %>
          <div id="error_explanation" class="alert alert-danger">
            <ul class="errors">
              <% @errors.each do |msg| %>
                <li style="font-size: 18px;"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_tag(contact_path, :id => 'feedback_form', :class => 'form-horizontal') do %>
          <%= recaptcha_v3(action: 'contact', site_key: Settings.recaptcha_site_key_v3) %>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.name') %></label>
            <div class="col-sm-7 col-md-6">
              <%= text_field_tag :name, params[:name], :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.email') %></label>
            <div class="col-sm-7 col-md-6">
              <%= text_field_tag :email, params[:email], :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.topic.label') %></label>
            <div class="col-sm-7 col-md-6">
              <%= select_tag(:topic,
                             options_for_select(t('blacklight.feedback.form.topic.options').values),
                             :class => 'form-control', :label => 'Topic:')
                              %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.message') %></label>
            <div class="col-sm-7 col-md-6">
              <%= text_area_tag :message, params[:message], :size => '24x8', :class =>  'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7 col-md-6">
              <div class="newsletter_checkbox pull-right">
                Add me to the quarterly newsletter <%= check_box_tag(:newsletter, 'yes', true) %>
              </div>
            </div>
          </div>

          <% if  @show_captcha_v2 %>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7 col-md-6">
              <div class="newsletter_checkbox pull-right">
                <%= recaptcha_tags %>
              </div>
            </div>
          </div>
          <% end %>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7 col-md-6">
              <%= submit_tag(t('blacklight.feedback.submit'), :class => 'btn btn-default pull-right', id: 'contact_submit') %>
            </div>
          </div>

      <% end %>


      </div>

    </div>

  </div>
</div>
