<script type="text/javascript">
  $(document).ready(function(){
    //alert($('#filedata').attr('required'));
    if($('#generic_object_hosted_elsewhere').is(':checked')){
      $("#hosted_elsewhere").show();
    } else {
      $("#hosted_elsewhere").hide();
    }

    $('#generic_object_hosted_elsewhere').click(function(){
      if($(this).is(':checked')){
        $("#hosted_elsewhere").show();
      } else {
        $("#hosted_elsewhere").hide();
      }

    });
  });
</script>

<%= simple_form_for @generic_object, html: { multipart: true, id: 'fileuploadsingle', autocomplete: "off" } do |f| %>
     <%= hidden_field_tag 'upload_type', 'single' %>
     <%= hidden_field_tag "file_coming_from", "local" %>
     <%= hidden_field_tag "visibility", "private" %>
     <%= hidden_field_tag "pid", @generic_object.pid %>
    <div class="well">
      <%= render partial: 'generic_objects/upload/to_collection' %>

      <% if @generic_object.base_files.present? %>
        <div class="form-group repeat_field_value optional generic_object_file_upload"><label class="control-label repeat_field_value optional" for="generic_object_file_upload">Existing File: </label>

          <% @generic_object.base_files.each_with_index do |file, index| %>
          <ul class="listing">
            <li class="field-wrapper">
              <div class="input-group col-sm-12 well">
                <input type="hidden" name="generic_object[existing_file][]" value="<%=file.id%>" />
                <% if file.thumbnail_derivatives.present? %>
                  <%= image_tag((download_path @generic_object.pid, file: 'thumbnail', index: index), height: '140') %>
                <% end %>
                <span class="input-group-btn">
                 <button class="btn btn-danger" data-js-delete-audits-field="true" type="button" tabindex="-1">-</button>
              </span>
              </div>
            </li>

          </ul>
          <%end %>
        </div>
      <% end %>


    <div class="form-group repeat_field_value optional generic_object_file_upload"><label class="control-label repeat_field_value optional" for="generic_object_file_upload">Select a file(s) to upload: </label>
        <ul class="listing">
          <li class="field-wrapper">
            <div class="input-group col-sm-12 well">
              <%= file_field_tag "filedata[]", input_html: {class: 'duplicateable'}, tabindex: 3 %>
              <span class="input-group-btn regular_audits_duplicate_span">
                <button class="btn btn-success" data-js-duplicate-audits-field="true" type="button" tabindex="-1">+</button>
              </span>
              <span class="input-group-btn">
                 <button class="btn btn-danger" data-js-delete-audits-field="true" type="button" tabindex="-1">-</button>
              </span>
            </div>
          </li>

        </ul>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.input_field :hosted_elsewhere, as: :boolean, tabindex: 5 %> This item is hosted elsewhere.
        </div>
      </div>
      <br />

      <div class="tab-content">
        <div class="tab-pane" id="hosted_elsewhere" aria-labelledby="hosted_elsewhere_tab" role="tabpanel" style="width: 583px;">
          <%= f.input :is_shown_at, class: 'form-control', input_html: { tabindex: 6 } %>
        </div>
      </div>

     <br />

      <div class="form-group" style="width: 583px;">
        <div style="float:left">
          <%= render partial: 'partials/label_with_help',
                     locals: {f: f,
                              label_val: 'Title',
                              include_help: t("simple_form.metadata_help.generic_file.title")} %>
        </div>
        <div style="clear:both"></div>
        <div>
          <%= f.input :title, required: true, label: false, class: 'form-control', input_html: { tabindex: 7 } %>
        </div>
      </div>

      <%= f.input :alt_titles, as: :multi_base,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.alternative"),
                                help_label: 'Alternative Title',
                                tabindex: 8,
                                },
                  required: false, label: 'Alternative Title'
      %>

      <%= f.input :creators, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: creators_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.creator"),
                                help_label: 'Creator',
                                tabindex: 9,
                                placeholder: ''}, label: 'Creator', required: false
      %>

      <%= f.input :contributors, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: contributors_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.contributor"),
                                help_label: 'Contributor',
                                tabindex: 10,
                                placeholder: ''}, label: 'Contributor'
      %>

      <%= f.input :date_created, as: :dates_lookup,
                  input_html: { include_blank: true,
                                endpoint: dates_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.date_created"),
                                help_label: 'Date Created',
                                tabindex: 11,
                                placeholder: 'Enter a EDTF style date'}, label: 'Date Created'
      %>

      <%= f.input :date_issued, as: :dates_lookup,
                  input_html: { include_blank: true,
                                endpoint: dates_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.date_issued"),
                                help_label: 'Date Issued',
                                tabindex: 12,
                                placeholder: 'Enter a EDTF style date'}, label: 'Date Issued'
      %>

      <%= f.input :temporal_coverage, as: :dates_lookup,
                  input_html: { include_blank: true,
                                endpoint: dates_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.temporal_coverage"),
                                help_label: 'Temporal Coverage',
                                tabindex: 13,
                                placeholder: 'Enter a EDTF style date'}, label: 'Temporal Coverage'
      %>

      <%= render :partial => "mei/form", :locals => {:f => f, :key=>:geonames, :dropdown_opts=>[
          ['Cities', 'P'],
          ['Building', 'S'],
          ['State/Country/Region', 'A'],
          ['Geographic Territory', 'T'],
          ['Continent/Area', 'L']
      ]} %>
      <%= f.input :geonames, as: :geo_lookup,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.based_near"),
                                help_label: 'Spatial Coverage',
                                tabindex: 14,},
                  required: false, readonly: true, label: 'Spatial Coverage'
      %>

      <%= render :partial => "mei/form", :locals => {:f => f, :key=>:homosaurus_subjects} %>
      <%= f.input :homosaurus_subjects, as: :homosaurus_lookup,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.homosaurus_subject"),
                                help_label: 'Subject Coverage–Homosaurus',
                                tabindex: 15}, required: false, readonly: true, label: 'Subject Coverage–Homosaurus'
      %>

      <%= render :partial => "mei/form", :locals => {:f => f, :key=>:homosaurus_uri_subjects} %>
      <%= f.input :homosaurus_uri_subjects, as: :homosaurus_uri_lookup,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.homosaurus_subject"),
                                help_label: 'Subject Coverage–Homosaurus V3',
                                tabindex: 16}, required: false, readonly: true, label: 'Subject Coverage–Homosaurus-V3'
      %>

      <%= render :partial => "mei/form", :locals => {:f => f, :key=>:lcsh_subjects} %>
      <%= f.input :lcsh_subjects, as: :lcsh_lookup,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.lcsh_subject"),
                                help_label: 'Subject Coverage–LC Subject Headings',
                                tabindex: 17},
                                required: false, readonly: true, label: 'Subject Coverage–LC Subject Headings'
      %>

      <%= f.input :other_subjects, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: other_subjects_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.other_subject"),
                                help_label: 'Subject Coverage–Other',
                                placeholder: '',
                                tabindex: 18}, label: 'Subject Coverage–Other'
      %>


      <%= f.input :flagged, as: :single_select, collection: ["No explicit content", "Explicit content in thumbnail", "Explicit content, but not in thumbnail"],
                  input_html: {
                      include_help: t("simple_form.metadata_help.generic_file.flagged"),
                      help_label: 'Explicit Content', include_blank: false,
                      tabindex: 19
                  }, required: true
      %>

      <%= f.input :flagged_category, as: :multi_select, collection: ["Above the waist nudity", "Below the waist nudity", "Sex acts", "Violence", "Graphic Medical Imagery", "Transphobic imagery", "Racist imagery"],
                  input_html: {
                      include_help: t("simple_form.metadata_help.generic_file.flagged_category"),
                      help_label: 'Explicit Content Category', include_blank: true,
                      tabindex: 20
                  }, required: false
      %>

      <%= f.input :resource_types, as: :multi_select, collection: ResourceType.all.pluck(:label),
                  input_html: {
                      include_help: t("simple_form.metadata_help.generic_file.resource_type"),
                      help_label: 'Type', include_blank: true,
                      tabindex: 21
                  }, required: true, label: 'Type'
      %>

      <%= f.input :genres, as: :multi_select, collection: Genre.all.pluck(:label),
                  input_html: {
                      include_help: t("simple_form.metadata_help.generic_file.genre"),
                      help_label: 'Genres', include_blank: true,
                      tabindex: 22
                       }, required: true
      %>

      <div class="form-group" style="width: 583px;">
        <div style="float:left">
          <%= render partial: 'partials/label_with_help',
                     locals: {f: f,
                              label_val: 'Analog Format',
                              required: false,
                              include_help: t("simple_form.metadata_help.generic_file.analog_format")} %>
        </div>
        <div style="clear:both"></div>
        <div>
          <%= f.input :analog_format, required: false, label: false, class: 'form-control', input_html: { tabindex: 22 } %>
        </div>
      </div>

      <div class="form-group" style="width: 583px;">
        <div style="float:left">
          <%= render partial: 'partials/label_with_help',
                     locals: {f: f,
                              label_val: 'Digital Format',
                              required: false,
                              include_help: t("simple_form.metadata_help.generic_file.digital_format")} %>
        </div>
        <div style="clear:both"></div>
        <div>
          <%= f.input :digital_format, required: false, label: false, class: 'form-control', input_html: { tabindex: 23 } %>
        </div>
      </div>

      <%= f.input :descriptions, as: :multi_base,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.description"),
                                help_label: 'Description',
                                rows: '9', type: 'textarea',
                                tabindex: 24
                  },
                  required: false, label: 'Description'
      %>

      <div class="form-group" style="width: 583px;">
        <div style="float:left">
          <%= render partial: 'partials/label_with_help',
                     locals: {f: f,
                              label_val: 'Table of Contents',
                              required: false,
                              include_help: t("simple_form.metadata_help.generic_file.toc")} %>
        </div>
        <div style="clear:both"></div>
        <div>
          <%= f.input :toc, required: false, label: false, class: 'form-control', input_html: { rows: '9', type: 'textarea', tabindex: 25 } %>
        </div>
      </div>

      <%= f.input :languages, as: :language_lookup,
                  input_html: { include_blank: true,
                                endpoint: languages_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.language"),
                                help_label: 'Language',
                                placeholder: '', label: 'Language',
                                tabindex: 26}
      %>

      <%= f.input :publishers, as: :multi_select_picker,
                  input_html: { include_blank: true,
                                endpoint: publishers_autocomplete_path,
                                include_help: t("simple_form.metadata_help.generic_file.publisher"),
                                help_label: 'Publisher',
                                placeholder: '',
                                tabindex: 27}, label: 'Publisher'
      %>

      <%= f.input :related_urls, as: :multi_base,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.related"),
                                help_label: 'Relation',
                                tabindex: 28
                  },
                  required: false, label: 'Relation'
      %>

      <%= f.input :rights, as: :single_select, collection: Rights.all.collect(&:label),
                  input_html: {
                      include_help: t("simple_form.metadata_help.generic_file.rights"),
                      help_label: 'Rights', include_blank: false,
                      tabindex: 29
                  }, required: true
      %>

      <%= f.input :rights_free_text, as: :multi_base,
                  input_html: { include_help: t("simple_form.metadata_help.generic_file.rights_free_text"),
                                help_label: 'Additional Rights Information',
                                tabindex: 30
                  },
                  required: false, label: 'Additional Rights Information'
      %>

    </div>

     <div>
       <%= button_tag class: 'btn btn-primary btn-lg', id: "upload_submit", name: "update_descriptions", tabindex: 31, data: { disable_with: "Please wait..." } do %>
           <i class="glyphicon glyphicon-floppy-disk"></i> Save Item
       <% end %>
     </div>
<% end %>
