<% if 1==0 and current_user.present? and current_user.contributor? %>

    <div id="dtaLoggedInMenu" class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-sm-3">

        </div><!-- /.col-xs-5 -->
        <div class="col-xs-10 col-sm-9">

          <div class="search_frame">
            <div class="nav_buttons">
              <ul>
                <li><%= link_to 'Upload', new_generic_object_path, :class=>"nav_button" %></li>
                <li class="divider"></li>
                <% if current_user.superuser? %>
                    <li><%= link_to 'Inst Create', new_institution_path, :class=>"nav_button" %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Coll Create', new_collection_path, :class=>"nav_button" %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Roles', role_management.roles_path, :class=>"nav_button" %></li>
                    <li class="divider"></li>
                    <li><%#= link_to 'Commands', admin_actions_path, :class=>"nav_button" %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Jobs', '/sidekiq', :class=>"nav_button" %></li>
                    <li class="divider"></li>
                <% end %>
                <li><%= render partial: '/user_util_links' %></li>
                <li class="divider"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /masthead -->
  <div style="clear:both;"></div>
<% end %>

