<%# this partial creates the OpenSeadragon image viewer modal %>
<div id="img_viewer_modal_<%=id%>" class="img_viewer_modal modal fade" tabindex="-1" role="dialog" aria-labelledby="<%= object_title.gsub(/\'/,'') %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="img_viewer_title"><%= object_title.gsub(/\'/,'') %></h4>
      </div>
      <div class="img_viewer_osd modal-body" id="img_viewer_osd_<%=id%>"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //#img_viewer_link2
  OSd_viewer_<%=id%> = {};
  $('#img_viewer_link_<%=id%>').click(function() {
    $('#img_viewer_modal_<%=id%>').modal();
    $("#img_viewer_osd_<%=id%>").css("height", $(window).height() - 60);
    OSd_viewer_<%=id%>.viewer = new OpenSeadragon({
      id: "img_viewer_osd_<%=id%>",
      prefixUrl: '',
      navImages: $.parseJSON('<%= osd_nav_images('openseadragon').html_safe %>'),
      //tileSources: ['<%# IIIF_SERVER['url'] + image_pid + '/info.json' %>'],
      tileSources: ['<%= 'https://repository.digitaltransgenderarchive.net:8182/iiif/2/' + iiif_id + '/info.json' %>'],
      autoHideControls: false,
      immediateRender: navigator.userAgent.match(/mobile/i),
      showNavigator: true,
      navigatorPosition: 'TOP_RIGHT',
      showRotationControl: true,
      navigationControlAnchor: OpenSeadragon.ControlAnchor.BOTTOM_RIGHT,
      showFullPageControl: false
    });
    return false;
  });
  $('#img_viewer_modal_<%=id%>').on('hidden.bs.modal', function (e) {
    $("#img_viewer_osd_<%=id%>").find('.openseadragon-container').remove();
    if (OSd_viewer_<%=id%>.viewer) {
      OSd_viewer_<%=id%>.viewer.destroy();
      OSd_viewer_<%=id%>.viewer = null;
    }
  });
</script>
