<div id="header" class="container-fluid">
  <div class="row">
      <div class="logo">
          <%= link_to application_name, root_path, :id => 'header_logo_link' %>
      </div>

      <%= render partial: 'shared/main_navbar' %>

    <div class="logo-compact"></div>

    <div style="clear:both"></div>

    <div id="header_searchbar_outer">
      <div id="header_searchbar">
        <ul>
          <li><%= link_to 'Map', '/places' %></li>
          <li><%= link_to 'Institution', institutions_path %></li>
          <li><%= link_to 'Collection', collections_path %></li>
          <li><%= link_to 'Topic', topic_facet_path %></li>
          <li><%= link_to 'Genre', genre_facet_path %></li>
          <li><%= link_to 'Latest', '/catalog?utf8=%E2%9C%93&sort=date_uploaded_dtsi+desc&search_field=all_fields&q=' %></li>
        </ul>
        <div style="clear:both"></div>
        <%= render_search_bar %>
      </div>
    </div>
  </div>
</div> <!-- /masthead -->

